
body {
    background: silver;
    font-family: 'Monotype Corsiva';
}

p {
    color: green;
    font-style: italic;
    font-family: 'Arial Black';
}

h3, h4 {
    font-family: Arial;
}
h3 {
    color: blue;
}
h4 {
    color: yellow;
}

li {
    font-size: 12px;
}